<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consent Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Consent Form</h1>
        <p class="text-justify mt-4">
            By clicking "I Consent to Participate" below, you acknowledge that you have read and understood the information provided and consent to participate in this study.
        </p>
    </div>

    </script>


    <!-- Agree Button -->
    <div class="text-center mt-5">
        <a href="{{ url_for('demographics') }}" class="btn btn-primary btn-lg">I Consent to Participate</a>
    </div>

</body>
</html>
