<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Investigating Student Awareness and Perception Around Social Media and Privacy: Part 1</title>
</head>
<body>
    <h1>Welcome to Our Study</h1>
    <p>We are reaching out to invite you to participate in an 
        exciting study exploring the realms of digital media and 
        social media experiences. This study is being conducted by 
        Gerald Cupchik, Professor at The University of Toronto Scarborough
        and we are interested in understanding how digital platforms and social media
        impact our daily lives and shape our interactions within the
        digital world.</p>

    <p>
        Please, keep in mind that this is a two part study designed to investigate
        your lived experiences and perceptions around social media and privacy through both
        open-ended audio-visual questions and responses to a series of standard scales. 
        For this part of the study, <b>you are required to have access to both a microphone 
        and camera so that you can provide you audio-visual responses. In addition, 
        <b>the study must be taken from a desktop or computer on Google Chrome  </b> as 
        the study does not support mobile devices or other browsers.
        
        </b>Please, do not continue if you do not currently have access to a computer with Google Chrome,
        a microphone, and a webcam.
        </b>
    </p>
    
    <a href="{{ url_for('consent') }}">Next.</a></body>

</body>
</html>
